<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAy7aZteTnCDN2i-jWg2xoVg1gWeghHhu8</string>
	<key>GCM_SENDER_ID</key>
	<string>7894435504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Norka.ounce</string>
	<key>PROJECT_ID</key>
	<string>ounce-6d0f7</string>
	<key>STORAGE_BUCKET</key>
	<string>ounce-6d0f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:7894435504:ios:e0005b31eccb5f1cf75d75</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
</dict>
</plist>
